@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --accent_text_color: #8774e1;
    --bg_color: #212121;
    --button_color: #8774e1;
    --button_text_color: #ffffff;
    --destructive_text_color: #e53935;
    --header_bg_color: #212121;
    --hint_color: #aaaaaa;
    --link_color: #8774e1;
    --secondary_bg_color: #0f0f0f;
    --section_bg_color: #212121;
    --section_header_text_color: #aaaaaa;
    --subtitle_text_color: #aaaaaa;
    --text_color: #ffffff;
}